@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading{
    color: cornflowerblue;
    text-align: center;
}

.eye-catcher{
    font-family: 'Roboto', sans-serif;
}

.gears-image{
    float: right;
    position: relative;
    top: -180px;
    left: -300px;
}

#first-paragraph{
    font-family: 'Poppins', sans-serif;
    
}

#features-list{
    font-family: 'Poppins', sans-serif;
}

#second-paragraph{
    font-family: 'Poppins', sans-serif;
}

#question{
    font-family: 'Poppins', sans-serif;
}